@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 1024px) {
    nav {
        background-color: #E73840;
        height: 80px;
    }
    
    nav ul {
        list-style-type: none;
    }
    
    nav a {
        text-decoration: none;
        color: #F1FAEE;
    }

    nav a:hover {
        color: #457B9D;
    }

    
    .menu, .infos, .user, .fale-conosco, .cart {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .logo img {
        width: 247px;
        height: 76px;
    }
    
    .search-bar input {
        width: 452px;
        height: 37px;
    }

    #hamburguer {
        margin-right: 5px;
        cursor: pointer;
    }
    
    .infos {
        width: 400px;
    }
    
    .user a, .fale-conosco a, .cart a {
        display: flex;
        align-items: center;
    }
    
    .user i, .fale-conosco i, .cart i {
        font-size: 30px;
        margin-right: 8px;
        color: #1D3557;
    }
    
    .infos a {
        font-size: 12px;
    }
    
    .nav-secondary {
        background-color: #F1FAEE;
        height: 45px;
    }
    
    .categorias {
        display: flex;
        align-items: center;
        height: 45px;
        justify-content: center;
    }
    
    .nav-secondary ul {
        list-style-type: none;
    }
    
    .categorias a, .categorias p {
        margin-right: 120px;
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
    }

    .card-categorias {
        cursor: pointer;
    }
    
    .categorias li:first-child {
        display: flex;
    }

    .categorias-active {
        display: none;
    }
    
    header {
        background-color: grey;
        height: 483px;
        width: 100%;
    }
    
    .wrapper {
        display: flex;
        justify-content: center;
        padding: 30px;
        flex-wrap: wrap;
        gap: 50px;

    }

    .wrapper a {
        text-decoration: none;
    }
    
    .item-img img  {
        width: 100%;
        height: 100%;
    }

    .item-img {
        height: 230px;
        width: 230px;
        display: flex;
        justify-content: center;
    }


    .item {
        height: 100%;
        width: 230px;
        display: flex;
        flex-direction: column;
    }

    .item p {
        display: flex;
        justify-self: center;
        color: black;
    }

    .item:hover {
        border: solid black 2px;
        border-radius: 10px;
    }

    
    .fileira-desc {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 300px;
        text-align: center;
    } 

    .valor p {
        font-weight: 700;
        font-size: 20px;
        color: #E73840;
        margin-top: 10px;
        justify-content: center;
    }

    .card-buy {
        text-align: center;
        margin-top: 10px;
    }

    .card-buy button {
        font-weight: 700;
        width: 100px;
        height: 30px;
        /* background-color: #7DCD85; */
        background-color: #59CD90;
        cursor: pointer;
    }



}

