@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.nav-main {
    background-color: #E73840;
    width: auto;
    height: 80px;
}

.nav-main p {
    color: white;
}

.menu, .infos, .user, .fale-conosco, .cart {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo h1 {
    font-size: 55px;
    color: #1D3557;
}

.search-bar input {
    width: 452px;
    height: 37px;
}

.infos {
    width: 400px;
}

.user i, .fale-conosco i, .cart i {
    font-size: 30px;
    margin-right: 8px;
    color: #1D3557;
}

.infos p {
    font-size: 12px;
}

.nav-secondary {
    background-color: #FFF;
    height: 45px;
}

.categorias {
    display: flex;
    align-items: center;
    height: 45px;
    justify-content: center;
}

.categorias p {
    margin-right: 120px;
}

.categorias i {
    margin-right: 5px;
}

header {
    background-color: grey;
    height: 483px;
    width: auto;
}

.fileira-itens {
    display: flex;
    justify-content: center;
}

.item {
    background-color: grey;
    width: 180px;
    height: 180px;
    margin: 80px;
}

.fileira-desc {
    display: flex;
    width: 90px;
}